In [148]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [192]:
df = pd.read_csv('bolig_data1.csv')

In [193]:
#we start inspecting how our dataset looks like.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   breadcrumb           1821 non-null   object
 1   title                1821 non-null   object
 2   description          1821 non-null   object
 3   address              1821 non-null   object
 4   monthly_rent         1821 non-null   object
 5   monthly_aconto       1821 non-null   object
 6   move_in_price        1821 non-null   object
 7   available_from       1821 non-null   object
 8   rental_period        1821 non-null   object
 9   Boligtype            1821 non-null   object
 10  Størrelse            1821 non-null   object
 11  Værelser             1821 non-null   float64
 12  Etage                1821 non-null   object
 13  Møbleret             1821 non-null   object
 14  Delevenlig           1821 non-null   object
 15  Husdyr tilladt       1821 non-null   object
 16  Elevator             1821 non-null   object
 17  Seniorvenlig         1821 non-null   object
 18  Kun for studerende   1821 non-null   object
 19  Altan/terrasse       1821 non-null   object
 20  Parkering            1821 non-null   object
 21  Opvaskemaskine       1821 non-null   object
 22  Vaskemaskine         1821 non-null   object
 23  Ladestander          1821 non-null   object
 24  Tørretumbler         1821 non-null   object
 25  Lejeperiode          1821 non-null   object
 26  Ledig fra            1821 non-null   object
 27  Månedlig leje        1821 non-null   object
 28  Aconto               1821 non-null   object
 29  Depositum            1821 non-null   object
 30  Forudbetalt husleje  1783 non-null   object
 31  Indflytningspris     1821 non-null   object
 32  Oprettelsesdato      1821 non-null   object
 33  Sagsnr.              1821 non-null   int64
 34  energy_mark_src      1821 non-null   object
 35  Energimærke          836 non-null    object
dtypes: float64(1), int64(1), object(34)
memory usage: 512.3+ KB

In [194]:
pd.set_option('display.max_rows',500)

In [195]:
df.head()

,breadcrumb,title,description,address,monthly_rent,monthly_aconto,move_in_price,available_from,rental_period,Boligtype,Størrelse,Værelser,Etage,Møbleret,Delevenlig,Husdyr tilladt,Elevator,Seniorvenlig,Kun for studerende,Altan/terrasse,Parkering,Opvaskemaskine,Vaskemaskine,Ladestander,Tørretumbler,Lejeperiode,Ledig fra,Månedlig leje,Aconto,Depositum,Forudbetalt husleje,Indflytningspris,Oprettelsesdato,Sagsnr.,energy_mark_src,Energimærke
0,Hjem > Lejligheder > København > 3 værelses > ...,"Furnished apartment, 2 bedroom",Fully furnished charming apartment for rent in...,"3 timer siden, Erik Menveds Vej, 1965 Københav...",12.850 kr.,1350 kr.,52.750 kr.,Snarest muligt,52.750 kr.,Lejlighed,86 m²,3.0,3.,Ja,Nej,Nej,Nej,Nej,Nej,Nej,Nej,Ikke angivet,Ja,Ikke angivet,Ikke angivet,24+ måneder,Snarest muligt,12.850 kr.,1.350 kr.,38.550 kr.,0 kr.,52.750 kr.,7.9.2024,5080588,/static/images/energy_labels/D_str2.png,NaN
1,Hjem > Lejligheder > København > 4 værelses > ...,Velindrettet 4-værelses lejlighed på 113 m2 me...,Indretning:\n\nVelkommen indefor i denne store...,"9 timer siden, Laurentsvej, 2880 København, Ba...",15.700 kr.,1224 kr.,79.724 kr.,15. november 2024,79.724 kr.,Lejlighed,113 m²,4.0,4.,Nej,Nej,Ja,Ja,Nej,Nej,Ja,Ja,Ja,Ja,Nej,Ja,Ubegrænset,15. november 2024,15.700 kr.,1.224 kr.,47.100 kr.,15.700 kr.,79.724 kr.,7.9.2024,5455654,/static/images/energy_labels/A15_str2.png,NaN
2,Hjem > Værelser > København > 1 værelses > Kas...,Brand new room for rent in newly build house,9m2 værelse i nybygget hus til leje \n(kan lej...,"11 timer siden, Pilegård Alle, 2770 København,...",5.000 kr.,1000 kr.,21.000 kr.,1. december 2024,21.000 kr.,Værelse,9 m²,1.0,-,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Ikke angivet,Ja,Ikke angivet,Ja,Ubegrænset,1. december 2024,5.000 kr.,1.000 kr.,15.000 kr.,0 kr.,21.000 kr.,7.9.2024,5455638,/static/images/energy_labels/A20_str2.png,NaN
3,Hjem > Værelser > København > 1 værelses > Køb...,Værelse i Villa ved strand og Metro,Et værelse udlejes i en skøn villa i et dejlig...,"11 timer siden, Borneovej, 2300 København, Køb...",3.500 kr.,500 kr.,11.500 kr.,1. november 2024,11.500 kr.,Værelse,14 m²,1.0,-,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Nej,Ja,Nej,Ja,Ubegrænset,1. november 2024,3.500 kr.,500 kr.,4.000 kr.,3.500 kr.,11.500 kr.,7.9.2024,5144039,/static/images/energy_labels/C_str2.png,NaN
4,Hjem > Værelser > København > 1 værelses > Køb...,Small Single Room,Hi there!\n\nAre you going to study in Copenha...,"13 timer siden, Vesterbrogade, 1620 København,...",4.650 kr.,0 kr.,13.950 kr.,Snarest muligt,13.950 kr.,Værelse,7 m²,1.0,4.,Ja,Nej,Nej,Ja,Nej,Ja,Nej,Nej,Ikke angivet,Ikke angivet,Ikke angivet,Ikke angivet,1-11 måneder,Snarest muligt,4.650 kr.,0 kr.,9.300 kr.,0 kr.,13.950 kr.,7.9.2024,5455643,none,-

In [196]:
pcts = df.isnull().sum()/len(df)*100

In [197]:
for null_col,pct in zip(df.columns[pcts>0],pcts[df.columns[pcts>0]]):
    print(f'{null_col}: {pct:.2f}% null')

Forudbetalt husleje: 2.09% null
Energimærke : 54.09% null

In [198]:
print(df.columns)

Index(['breadcrumb', 'title', 'description', 'address', 'monthly_rent',
       'monthly_aconto', 'move_in_price', 'available_from', 'rental_period',
       'Boligtype', 'Størrelse', 'Værelser', 'Etage', 'Møbleret', 'Delevenlig',
       'Husdyr tilladt', 'Elevator', 'Seniorvenlig', 'Kun for studerende',
       'Altan/terrasse', 'Parkering', 'Opvaskemaskine', 'Vaskemaskine',
       'Ladestander', 'Tørretumbler', 'Lejeperiode', 'Ledig fra',
       'Månedlig leje', 'Aconto', 'Depositum', 'Forudbetalt husleje',
       'Indflytningspris', 'Oprettelsesdato', 'Sagsnr.', 'energy_mark_src',
       'Energimærke '],
      dtype='object')

In [199]:
#'monthly_rent' and 'Månedlig leje' both refer to "monthly rent" (one in English and one in Danish).
#'available_from' and 'Ledig fra' both refer to "available from" (one in English and one in Danish).
# 'Indflytningspris' refer to move_in_price which is the same as the english move_in_price column
# 'Lejeperiode' and rental_period both refer to rental period
# 'Aconto' and monthly_aconto both refer to aconto
# 'move_in_price' is a sum of other variables and we will not include it


# Drop the Danish versions if you want to keep the English ones
df.drop(['Månedlig leje', 'Ledig fra', 'Indflytningspris', 'Lejeperiode', 'Aconto','move_in_price'], axis=1, inplace=True)

In [200]:
# Now for easier understanding of which columns we need for our project we will translate the columns from Danish to English
# Dictionary for translating column names
translations = {
    'breadcrumb': 'breadcrumb',
    'title': 'title',
    'description': 'description',
    'address': 'address',
    'monthly_rent': 'monthly_rent',
    'monthly_aconto': 'monthly_aconto',
    'move_in_price': 'move_in_price',
    'available_from': 'available_from',
    'rental_period': 'rental_period',
    'Boligtype': 'housing_type',  # Danish: Boligtype
    'Størrelse': 'size_sqm',  # Danish: Størrelse
    'Værelser': 'rooms',  # Danish: Værelser
    'Etage': 'floor',  # Danish: Etage
    'Møbleret': 'furnished',  # Danish: Møbleret
    'Delevenlig': 'roommate_friendly',  # Danish: Delevenlig
    'Husdyr tilladt': 'pets_allowed',  # Danish: Husdyr tilladt
    'Elevator': 'elevator',  # Danish: Elevator
    'Seniorvenlig': 'senior_friendly',  # Danish: Seniorvenlig
    'Kun for studerende': 'students_only',  # Danish: Kun for studerende
    'Altan/terrasse': 'balcony_terrace',  # Danish: Altan/terrasse
    'Parkering': 'parking',  # Danish: Parkering
    'Opvaskemaskine': 'dishwasher',  # Danish: Opvaskemaskine
    'Vaskemaskine': 'washing_machine',  # Danish: Vaskemaskine
    'Ladestander': 'charging_station',  # Danish: Ladestander
    'Tørretumbler': 'dryer',  # Danish: Tørretumbler
    'Lejeperiode': 'rental_period',  # Danish: Lejeperiode
    'Ledig fra': 'available_from',  # Danish: Ledig fra
    'Månedlig leje': 'monthly_rent',  # Danish: Månedlig leje
    'Aconto': 'aconto',  # Danish: Aconto
    'Depositum': 'deposit',  # Danish: Depositum
    'Forudbetalt husleje': 'prepaid_rent',  # Danish: Forudbetalt husleje
    'Indflytningspris': 'move_in_price',  # Danish: Indflytningspris
    'Oprettelsesdato': 'creation_date',  # Danish: Oprettelsesdato
    'Sagsnr.': 'case_number',  # Danish: Sagsnr.
    'energy_mark_src': 'energy_mark_source',
    'Energimærke ': 'energy_label'  # Danish: Energimærke
}

# Apply the translations to rename columns
df.rename(columns=translations, inplace=True)

In [201]:
print(df.columns)

Index(['breadcrumb', 'title', 'description', 'address', 'monthly_rent',
       'monthly_aconto', 'available_from', 'rental_period', 'housing_type',
       'size_sqm', 'rooms', 'floor', 'furnished', 'roommate_friendly',
       'pets_allowed', 'elevator', 'senior_friendly', 'students_only',
       'balcony_terrace', 'parking', 'dishwasher', 'washing_machine',
       'charging_station', 'dryer', 'deposit', 'prepaid_rent', 'creation_date',
       'case_number', 'energy_mark_source', 'energy_label'],
      dtype='object')

In [202]:
#Check for Extra Spaces: It's possible that the column names have leading or trailing spaces, which is common when importing data.
# Let's clean the column names by stripping any unnecessary spaces.

# Strip any leading or trailing spaces from column names
df.columns = df.columns.str.strip()

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   breadcrumb          1821 non-null   object
 1   title               1821 non-null   object
 2   description         1821 non-null   object
 3   address             1821 non-null   object
 4   monthly_rent        1821 non-null   object
 5   monthly_aconto      1821 non-null   object
 6   available_from      1821 non-null   object
 7   rental_period       1821 non-null   object
 8   housing_type        1821 non-null   object
 9   size_sqm            1821 non-null   object
 10  rooms               1821 non-null   float64
 11  floor               1821 non-null   object
 12  furnished           1821 non-null   object
 13  roommate_friendly   1821 non-null   object
 14  pets_allowed        1821 non-null   object
 15  elevator            1821 non-null   object
 16  senior_friendly     1821 non-null   object
 17  students_only       1821 non-null   object
 18  balcony_terrace     1821 non-null   object
 19  parking             1821 non-null   object
 20  dishwasher          1821 non-null   object
 21  washing_machine     1821 non-null   object
 22  charging_station    1821 non-null   object
 23  dryer               1821 non-null   object
 24  deposit             1821 non-null   object
 25  prepaid_rent        1783 non-null   object
 26  creation_date       1821 non-null   object
 27  case_number         1821 non-null   int64
 28  energy_mark_source  1821 non-null   object
 29  energy_label        836 non-null    object
dtypes: float64(1), int64(1), object(28)
memory usage: 426.9+ KB

In [204]:
# We will now try to transform some of object data types to numeric ones. Mostly those that refer to prices.
columns_to_transform=['monthly_rent', 'monthly_aconto', 'deposit', 'prepaid_rent']
# Remove ' kr' and '.' for multiple columns
df[columns_to_transform] = df[columns_to_transform].apply(lambda x: x.str.replace('kr', '').str.replace('.', '').str.replace(',', '').str.strip() if x.str else '0')

In [205]:
#df['move_in_price'] = df['move_in_price'].apply(lambda x: x.replace('måneder','').replace('Ubegrænset','0').replace('+','').split('-')[0])

In [206]:
# column=['move_in_price']

# df[column]= df[column].apply(lambda x: x.str.replace(' kr', '').str.replace('.', '').str.replace(',', ''))

In [207]:
df[columns_to_transform] = df[columns_to_transform].apply(pd.to_numeric)

In [208]:
# In the move in price, whenever we have a value between 0 and 24 it's months of rent, so we multiply the months by monthly rent to get the accurate move_in_price and replace it with the number of months
# df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'move_in_price'] = df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'move_in_price']*df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'monthly_rent']

In [209]:
# assumption: set prepaid rent to 0 when it's NaN

df['prepaid_rent'] = df['prepaid_rent'].fillna('0').astype(float)

In [210]:
df[df.select_dtypes(include=['float']).columns] = df.select_dtypes(include=['float']).astype(int)

In [211]:
df['energy_mark'] = df['energy_mark_source'].apply(lambda x: x.split('/')[-1].split('_')[0])

In [212]:
df['size_sqm'] = df['size_sqm'].apply(lambda x: x.replace('m²','').strip().split('.')[0]).astype(int)

In [213]:
df.drop(columns=['energy_mark_source','energy_label','breadcrumb','title','description','rental_period', 'case_number'], inplace=True)

In [214]:
# Replacing As soon as possible in available_from column with the creation_date of the correspondent listing
df.loc[df['available_from'].str.contains('Snarest'),'available_from'] = df.loc[df['available_from'].str.contains('Snarest'),'creation_date']

In [215]:
import datetime

# Dictionary to map Danish month names to numbers
danish_months = {
    " januar ": "1.",
    " februar ": "2.",
    " marts ": "3.",
    " april ": "4.",
    " maj ": "5.",
    " juni ": "6.",
    " juli ": "7.",
    " august ": "8.",
    " september ": "9.",
    " oktober ": "10.",
    " november ": "11.",
    " december ": "12."
}

def format_date(date_str):
    # Try to parse the date with the Danish month name
    for month, number in danish_months.items():
        if month in date_str:
            # Replace the month name with the corresponding number
            date_str = date_str.replace(month, number)
            # Parse the date to a datetime object
            #date_obj = datetime.datetime.strptime(date_str, "%d. %m. %Y")
            #return date_obj.strftime("%d.%m.%Y")
            return date_str
    # If it's already in the correct format
    #date_obj = datetime.datetime.strptime(date_str, "%d.%m.%Y")
    return date_str

In [216]:
df['available_from'] = pd.to_datetime(df['available_from'].apply(format_date), dayfirst=True)

In [217]:
df['creation_date'] = pd.to_datetime(df['creation_date'], dayfirst=True)

In [218]:
df['area'] = df['address'].apply(lambda x: x.split('-')[0].split(',')[-1].strip() if '-' in x else x.split(',')[-1].strip())

In [219]:
# We want to make floor a numeric var so we have to make assumptions: Stuen (=living room) is ground floor, Kælder (=cellar) is -1, - is translated to 0 as there is no floor
df['floor'] = df['floor'].apply(lambda x: x.replace('Stuen','0').replace('Kælder','-1').replace('-','0').replace('.','')).astype(int)

In [220]:
df.drop(columns=['address'],inplace=True)

In [221]:
for dtype, columns in df.columns.to_series().groupby(df.dtypes):
    print(f"Type: {dtype}")
    print(f"Columns: {list(columns)}\n")

Type: int64
Columns: ['monthly_rent', 'monthly_aconto', 'size_sqm', 'rooms', 'floor', 'deposit', 'prepaid_rent']

Type: datetime64[ns]
Columns: ['available_from', 'creation_date']

Type: object
Columns: ['housing_type', 'furnished', 'roommate_friendly', 'pets_allowed', 'elevator', 'senior_friendly', 'students_only', 'balcony_terrace', 'parking', 'dishwasher', 'washing_machine', 'charging_station', 'dryer', 'energy_mark', 'area']

In [222]:
for col in df.columns:
    if df.dtypes[col] == 'O':
        print('###########################')
        print(col)
        print(df[col].unique(),end='\n\n')

###########################
housing_type
['Lejlighed' 'Værelse']

###########################
furnished
['Ja' 'Nej']

###########################
roommate_friendly
['Nej' 'Ja' 'Ikke angivet']

###########################
pets_allowed
['Nej' 'Ja' 'Ikke angivet']

###########################
elevator
['Nej' 'Ja' 'Ikke angivet']

###########################
senior_friendly
['Nej' 'Ikke angivet' 'Ja']

###########################
students_only
['Nej' 'Ja' 'Ikke angivet']

###########################
balcony_terrace
['Nej' 'Ja' 'Ikke angivet']

###########################
parking
['Nej' 'Ja' 'Ikke angivet']

###########################
dishwasher
['Ikke angivet' 'Ja' 'Nej']

###########################
washing_machine
['Ja' 'Ikke angivet' 'Nej']

###########################
charging_station
['Ikke angivet' 'Nej' 'Ja']

###########################
dryer
['Ikke angivet' 'Ja' 'Nej']

###########################
energy_mark
['D' 'A15' 'A20' 'C' 'none' 'A10' 'B' 'F' 'E' 'G']

###########################
area
['Frederiksberg C' 'Bagsværd' 'Kastrup' 'København S' 'København V'
 'Kongens Lyngby' 'Valby' 'København NV' 'Vallensbæk Strand' 'København Ø'
 'København SV' 'Skovlunde' 'København K' 'Herlev' 'Gentofte' 'Glostrup'
 'Taastrup' 'Ballerup' 'Frederiksberg' 'Brønshøj' 'Hellerup' 'København N'
 'Vanløse' 'Rødovre' 'Søborg' 'Skodsborg' 'Dragør' 'Nordhavn' 'Hvidovre'
 'Brøndby' 'Holte' 'Albertslund' 'Hedehusene' 'Virum' 'Måløv' 'Nærum'
 'Charlottenlund' 'Ishøj' 'Vedbæk' 'Dyssegård' 'Vallensbæk' 'Klampenborg'
 'Værløse' 'Smørum']

In [223]:
# create new column availability_in: buckets of <1 month, 1-3 months, 3+ months

df['availability_in'] = df.apply(lambda x: '<1 month' if (x['available_from']-x['creation_date']).days <30 else ('1-3 months' if (x['available_from']-x['creation_date']).days <90 else '3+ months'), axis = 1)

In [224]:
df.drop(columns=['available_from','creation_date'],inplace=True)

In [225]:
# defined as monthly_rent+aconto (in some cases aconto = 0 and we assume it is included in the rent, so to make the analysis more bulletproof
# we create a new variable total_monthly_rent to not drive misleading results)
df['total_monthly_rent'] = df['monthly_rent'] + df['monthly_aconto']

In [226]:
pd.set_option('display.max_columns',100)

In [227]:
df.head()

,monthly_rent,monthly_aconto,housing_type,size_sqm,rooms,floor,furnished,roommate_friendly,pets_allowed,elevator,senior_friendly,students_only,balcony_terrace,parking,dishwasher,washing_machine,charging_station,dryer,deposit,prepaid_rent,energy_mark,area,availability_in,total_monthly_rent
0,12850,1350,Lejlighed,86,3,3,Ja,Nej,Nej,Nej,Nej,Nej,Nej,Nej,Ikke angivet,Ja,Ikke angivet,Ikke angivet,38550,0,D,Frederiksberg C,<1 month,14200
1,15700,1224,Lejlighed,113,4,4,Nej,Nej,Ja,Ja,Nej,Nej,Ja,Ja,Ja,Ja,Nej,Ja,47100,15700,A15,Bagsværd,1-3 months,16924
2,5000,1000,Værelse,9,1,0,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Ikke angivet,Ja,Ikke angivet,Ja,15000,0,A20,Kastrup,1-3 months,6000
3,3500,500,Værelse,14,1,0,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Nej,Ja,Nej,Ja,4000,3500,C,København S,1-3 months,4000
4,4650,0,Værelse,7,1,4,Ja,Nej,Nej,Ja,Nej,Ja,Nej,Nej,Ikke angivet,Ikke angivet,Ikke angivet,Ikke angivet,9300,0,none,København V,<1 month,4650

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   monthly_rent        1821 non-null   int64
 1   monthly_aconto      1821 non-null   int64
 2   housing_type        1821 non-null   object
 3   size_sqm            1821 non-null   int64
 4   rooms               1821 non-null   int64
 5   floor               1821 non-null   int64
 6   furnished           1821 non-null   object
 7   roommate_friendly   1821 non-null   object
 8   pets_allowed        1821 non-null   object
 9   elevator            1821 non-null   object
 10  senior_friendly     1821 non-null   object
 11  students_only       1821 non-null   object
 12  balcony_terrace     1821 non-null   object
 13  parking             1821 non-null   object
 14  dishwasher          1821 non-null   object
 15  washing_machine     1821 non-null   object
 16  charging_station    1821 non-null   object
 17  dryer               1821 non-null   object
 18  deposit             1821 non-null   int64
 19  prepaid_rent        1821 non-null   int64
 20  energy_mark         1821 non-null   object
 21  area                1821 non-null   object
 22  availability_in     1821 non-null   object
 23  total_monthly_rent  1821 non-null   int64
dtypes: int64(8), object(16)
memory usage: 341.6+ KB

In [230]:
continuous_vars = ['monthly_rent','monthly_aconto','size_sqm','deposit','prepaid_rent','total_monthly_rent']
df[continuous_vars] = df[continuous_vars].astype(float)

In [231]:
for i,type in enumerate(df.dtypes):
    print('- '+df.columns[i]+': '+str(type).replace('object','discrete/nominal').replace('int64','continuous/ordinal').replace('float64','continuous/ratio'))

- monthly_rent: continuous/ratio
- monthly_aconto: continuous/ratio
- housing_type: discrete/nominal
- size_sqm: continuous/ratio
- rooms: continuous/ordinal
- floor: continuous/ordinal
- furnished: discrete/nominal
- roommate_friendly: discrete/nominal
- pets_allowed: discrete/nominal
- elevator: discrete/nominal
- senior_friendly: discrete/nominal
- students_only: discrete/nominal
- balcony_terrace: discrete/nominal
- parking: discrete/nominal
- dishwasher: discrete/nominal
- washing_machine: discrete/nominal
- charging_station: discrete/nominal
- dryer: discrete/nominal
- deposit: continuous/ratio
- prepaid_rent: continuous/ratio
- energy_mark: discrete/nominal
- area: discrete/nominal
- availability_in: discrete/nominal
- total_monthly_rent: continuous/ratio

In [232]:
df.groupby(df['energy_mark']).count().iloc[:,0]/len(df)*100

energy_mark
A10      4.503020
A15     13.344316
A20     12.685338
B        3.734212
C       11.422295
D        6.205382
E        1.592532
F        0.439319
G        0.164745
none    45.908841
Name: monthly_rent, dtype: float64

In [233]:
df.to_csv('preprocessed_data.csv', index=False, header=True, encoding='utf-8')