In [305]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [306]:
df = pd.read_csv('bolig_data.csv')

In [307]:
#we start inspecting how our dataset looks like.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   breadcrumb           1897 non-null   object
 1   title                1897 non-null   object
 2   description          1897 non-null   object
 3   address              1897 non-null   object
 4   monthly_rent         1897 non-null   object
 5   monthly_aconto       1897 non-null   object
 6   move_in_price        1897 non-null   object
 7   available_from       1897 non-null   object
 8   rental_period        1897 non-null   object
 9   Boligtype            1897 non-null   object
 10  Størrelse            1897 non-null   object
 11  Værelser             1897 non-null   float64
 12  Etage                1897 non-null   object
 13  Møbleret             1897 non-null   object
 14  Delevenlig           1897 non-null   object
 15  Husdyr tilladt       1897 non-null   object
 16  Elevator             1897 non-null   object
 17  Seniorvenlig         1897 non-null   object
 18  Kun for studerende   1897 non-null   object
 19  Altan/terrasse       1897 non-null   object
 20  Parkering            1897 non-null   object
 21  Opvaskemaskine       1897 non-null   object
 22  Vaskemaskine         1897 non-null   object
 23  Ladestander          1897 non-null   object
 24  Tørretumbler         1897 non-null   object
 25  Lejeperiode          1897 non-null   object
 26  Ledig fra            1897 non-null   object
 27  Månedlig leje        1897 non-null   object
 28  Aconto               1838 non-null   object
 29  Depositum            1897 non-null   object
 30  Forudbetalt husleje  1827 non-null   object
 31  Indflytningspris     1897 non-null   object
 32  Oprettelsesdato      1897 non-null   object
 33  Sagsnr.              1897 non-null   int64
 34  energy_mark_src      1897 non-null   object
 35  Energimærke          898 non-null    object
dtypes: float64(1), int64(1), object(34)
memory usage: 533.7+ KB

In [308]:
df.head()

,breadcrumb,title,description,address,monthly_rent,monthly_aconto,move_in_price,available_from,rental_period,Boligtype,Størrelse,Værelser,Etage,Møbleret,Delevenlig,Husdyr tilladt,Elevator,Seniorvenlig,Kun for studerende,Altan/terrasse,Parkering,Opvaskemaskine,Vaskemaskine,Ladestander,Tørretumbler,Lejeperiode,Ledig fra,Månedlig leje,Aconto,Depositum,Forudbetalt husleje,Indflytningspris,Oprettelsesdato,Sagsnr.,energy_mark_src,Energimærke
0,Hjem > Lejligheder > København > 3 værelses > ...,"Furnished apartment, 2 bedroom",Fully furnished charming apartment for rent in...,"3 timer siden, Erik Menveds Vej, 1965 Københav...",12.850 kr.,1.350 kr.,52.750 kr.,Snarest muligt,52.750 kr.,Lejlighed,86 m²,3.0,3.,Ja,Nej,Nej,Nej,Nej,Nej,Nej,Nej,Ikke angivet,Ja,Ikke angivet,Ikke angivet,24+ måneder,Snarest muligt,12.850 kr.,1.350 kr.,38.550 kr.,0 kr.,52.750 kr.,7.9.2024,5080588,/static/images/energy_labels/D_str2.png,NaN
1,Hjem > Lejligheder > København > 4 værelses > ...,Velindrettet 4-værelses lejlighed på 113 m2 me...,Indretning:\n\nVelkommen indefor i denne store...,"9 timer siden, Laurentsvej, 2880 København, Ba...",15.700 kr.,1.224 kr.,79.724 kr.,15. november 2024,79.724 kr.,Lejlighed,113 m²,4.0,4.,Nej,Nej,Ja,Ja,Nej,Nej,Ja,Ja,Ja,Ja,Nej,Ja,Ubegrænset,15. november 2024,15.700 kr.,1.224 kr.,47.100 kr.,15.700 kr.,79.724 kr.,7.9.2024,5455654,/static/images/energy_labels/A15_str2.png,NaN
2,Hjem > Værelser > København > 1 værelses > Kas...,Brand new room for rent in newly build house,9m2 værelse i nybygget hus til leje \n(kan lej...,"11 timer siden, Pilegård Alle, 2770 København,...",5.000 kr.,1.000 kr.,21.000 kr.,1. december 2024,21.000 kr.,Værelse,9 m²,1.0,-,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Ikke angivet,Ja,Ikke angivet,Ja,Ubegrænset,1. december 2024,5.000 kr.,1.000 kr.,15.000 kr.,0 kr.,21.000 kr.,7.9.2024,5455638,/static/images/energy_labels/A20_str2.png,NaN
3,Hjem > Værelser > København > 1 værelses > Køb...,Værelse i Villa ved strand og Metro,Et værelse udlejes i en skøn villa i et dejlig...,"11 timer siden, Borneovej, 2300 København, Køb...",3.500 kr.,500 kr.,11.500 kr.,1. november 2024,11.500 kr.,Værelse,14 m²,1.0,-,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Nej,Ja,Nej,Ja,Ubegrænset,1. november 2024,3.500 kr.,500 kr.,4.000 kr.,3.500 kr.,11.500 kr.,7.9.2024,5144039,/static/images/energy_labels/C_str2.png,NaN
4,Hjem > Værelser > København > 1 værelses > Køb...,Small Single Room,Hi there!\n\nAre you going to study in Copenha...,"13 timer siden, Vesterbrogade, 1620 København,...",4.650 kr.,0 kr.,13.950 kr.,Snarest muligt,13.950 kr.,Værelse,7 m²,1.0,4.,Ja,Nej,Nej,Ja,Nej,Ja,Nej,Nej,Ikke angivet,Ikke angivet,Ikke angivet,Ikke angivet,1-11 måneder,Snarest muligt,4.650 kr.,0 kr.,9.300 kr.,0 kr.,13.950 kr.,7.9.2024,5455643,none,-

In [309]:
pcts = df.isnull().sum()/len(df)*100

In [310]:
for null_col,pct in zip(df.columns[pcts>0],pcts[df.columns[pcts>0]]):
    print(f'{null_col}: {pct:.2f}% null')

Aconto: 3.11% null
Forudbetalt husleje: 3.69% null
Energimærke : 52.66% null

In [311]:
print(df.columns)

Index(['breadcrumb', 'title', 'description', 'address', 'monthly_rent',
       'monthly_aconto', 'move_in_price', 'available_from', 'rental_period',
       'Boligtype', 'Størrelse', 'Værelser', 'Etage', 'Møbleret', 'Delevenlig',
       'Husdyr tilladt', 'Elevator', 'Seniorvenlig', 'Kun for studerende',
       'Altan/terrasse', 'Parkering', 'Opvaskemaskine', 'Vaskemaskine',
       'Ladestander', 'Tørretumbler', 'Lejeperiode', 'Ledig fra',
       'Månedlig leje', 'Aconto', 'Depositum', 'Forudbetalt husleje',
       'Indflytningspris', 'Oprettelsesdato', 'Sagsnr.', 'energy_mark_src',
       'Energimærke '],
      dtype='object')

In [312]:
#'monthly_rent' and 'Månedlig leje' both refer to "monthly rent" (one in English and one in Danish).
#'available_from' and 'Ledig fra' both refer to "available from" (one in English and one in Danish).
# 'Indflytningspris' refer to move_in_price which is the same as the english move_in_price column
# 'Lejeperiode' and rental_period both refer to rental period
# 'Aconto' and monthly_aconto both refer to aconto


# Drop the Danish versions if you want to keep the English ones
df.drop(['Månedlig leje', 'Ledig fra', 'Indflytningspris', 'Lejeperiode', 'Aconto'], axis=1, inplace=True)

In [313]:
# Now for easier understanding of which columns we need for our project we will translate the columns from Danish to English
# Dictionary for translating column names
translations = {
    'breadcrumb': 'breadcrumb',
    'title': 'title',
    'description': 'description',
    'address': 'address',
    'monthly_rent': 'monthly_rent',
    'monthly_aconto': 'monthly_aconto',
    'move_in_price': 'move_in_price',
    'available_from': 'available_from',
    'rental_period': 'rental_period',
    'Boligtype': 'housing_type',  # Danish: Boligtype
    'Størrelse': 'size_sqm',  # Danish: Størrelse
    'Værelser': 'rooms',  # Danish: Værelser
    'Etage': 'floor',  # Danish: Etage
    'Møbleret': 'furnished',  # Danish: Møbleret
    'Delevenlig': 'roommate_friendly',  # Danish: Delevenlig
    'Husdyr tilladt': 'pets_allowed',  # Danish: Husdyr tilladt
    'Elevator': 'elevator',  # Danish: Elevator
    'Seniorvenlig': 'senior_friendly',  # Danish: Seniorvenlig
    'Kun for studerende': 'students_only',  # Danish: Kun for studerende
    'Altan/terrasse': 'balcony_terrace',  # Danish: Altan/terrasse
    'Parkering': 'parking',  # Danish: Parkering
    'Opvaskemaskine': 'dishwasher',  # Danish: Opvaskemaskine
    'Vaskemaskine': 'washing_machine',  # Danish: Vaskemaskine
    'Ladestander': 'charging_station',  # Danish: Ladestander
    'Tørretumbler': 'dryer',  # Danish: Tørretumbler
    'Lejeperiode': 'rental_period',  # Danish: Lejeperiode
    'Ledig fra': 'available_from',  # Danish: Ledig fra
    'Månedlig leje': 'monthly_rent',  # Danish: Månedlig leje
    'Aconto': 'aconto',  # Danish: Aconto
    'Depositum': 'deposit',  # Danish: Depositum
    'Forudbetalt husleje': 'prepaid_rent',  # Danish: Forudbetalt husleje
    'Indflytningspris': 'move_in_price',  # Danish: Indflytningspris
    'Oprettelsesdato': 'creation_date',  # Danish: Oprettelsesdato
    'Sagsnr.': 'case_number',  # Danish: Sagsnr.
    'energy_mark_src': 'energy_mark_source',
    'Energimærke ': 'energy_label'  # Danish: Energimærke
}

# Apply the translations to rename columns
df.rename(columns=translations, inplace=True)

In [314]:
print(df.columns)

Index(['breadcrumb', 'title', 'description', 'address', 'monthly_rent',
       'monthly_aconto', 'move_in_price', 'available_from', 'rental_period',
       'housing_type', 'size_sqm', 'rooms', 'floor', 'furnished',
       'roommate_friendly', 'pets_allowed', 'elevator', 'senior_friendly',
       'students_only', 'balcony_terrace', 'parking', 'dishwasher',
       'washing_machine', 'charging_station', 'dryer', 'deposit',
       'prepaid_rent', 'creation_date', 'case_number', 'energy_mark_source',
       'energy_label'],
      dtype='object')

In [315]:
#Check for Extra Spaces: It's possible that the column names have leading or trailing spaces, which is common when importing data.
# Let's clean the column names by stripping any unnecessary spaces.

# Strip any leading or trailing spaces from column names
df.columns = df.columns.str.strip()

In [316]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   breadcrumb          1897 non-null   object
 1   title               1897 non-null   object
 2   description         1897 non-null   object
 3   address             1897 non-null   object
 4   monthly_rent        1897 non-null   object
 5   monthly_aconto      1897 non-null   object
 6   move_in_price       1897 non-null   object
 7   available_from      1897 non-null   object
 8   rental_period       1897 non-null   object
 9   housing_type        1897 non-null   object
 10  size_sqm            1897 non-null   object
 11  rooms               1897 non-null   float64
 12  floor               1897 non-null   object
 13  furnished           1897 non-null   object
 14  roommate_friendly   1897 non-null   object
 15  pets_allowed        1897 non-null   object
 16  elevator            1897 non-null   object
 17  senior_friendly     1897 non-null   object
 18  students_only       1897 non-null   object
 19  balcony_terrace     1897 non-null   object
 20  parking             1897 non-null   object
 21  dishwasher          1897 non-null   object
 22  washing_machine     1897 non-null   object
 23  charging_station    1897 non-null   object
 24  dryer               1897 non-null   object
 25  deposit             1897 non-null   object
 26  prepaid_rent        1827 non-null   object
 27  creation_date       1897 non-null   object
 28  case_number         1897 non-null   int64
 29  energy_mark_source  1897 non-null   object
 30  energy_label        898 non-null    object
dtypes: float64(1), int64(1), object(29)
memory usage: 459.6+ KB

In [317]:
# We will now try to transform some of object data types to numeric ones. Mostly those that refer to prices.
columns_to_transform=['monthly_rent', 'monthly_aconto', 'deposit', 'prepaid_rent']
# Remove ' kr' and '.' for multiple columns
df[columns_to_transform] = df[columns_to_transform].apply(lambda x: x.str.replace('kr', '').str.replace('.', '').str.replace(',', '').str.strip() if x.str else '0')

In [318]:
df['move_in_price'] = df['move_in_price'].apply(lambda x: x.replace('måneder','').replace('Ubegrænset','0').replace('+','').split('-')[0])

In [319]:
column=['move_in_price']

df[column]= df[column].apply(lambda x: x.str.replace(' kr', '').str.replace('.', '').str.replace(',', ''))

In [320]:
df[columns_to_transform+['move_in_price']] = df[columns_to_transform+['move_in_price']].apply(pd.to_numeric)

In [321]:
# In the move in price, whenever we have a value between 0 and 24 it's months of rent, so we multiply the months by monthly rent to get the accurate move_in_price and replace it with the number of months
df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'move_in_price'] = df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'move_in_price']*df.loc[(df['move_in_price']<25)&(df['move_in_price']>0),'monthly_rent']

In [322]:
# assumption: set prepaid rent to 0 when it's NaN

df['prepaid_rent'] = df['prepaid_rent'].fillna('0').astype(float)

In [323]:
df[df.select_dtypes(include=['float']).columns] = df.select_dtypes(include=['float']).astype(int)

In [324]:
df['energy_mark'] = df['energy_mark_source'].apply(lambda x: x.split('/')[-1].split('_')[0])

In [325]:
df['size_sqm'] = df['size_sqm'].apply(lambda x: x.replace('m²','').strip().split('.')[0]).astype(int)

In [326]:
df.drop(columns=['energy_mark_source','energy_label','breadcrumb','title','description','rental_period', 'case_number'], inplace=True)

In [327]:
# Replacing As soon as possible in available_from column with the creation_date of the correspondent listing
df.loc[df['available_from'].str.contains('Snarest'),'available_from'] = df.loc[df['available_from'].str.contains('Snarest'),'creation_date']

In [328]:
import datetime

# Dictionary to map Danish month names to numbers
danish_months = {
    " januar ": "1.",
    " februar ": "2.",
    " marts ": "3.",
    " april ": "4.",
    " maj ": "5.",
    " juni ": "6.",
    " juli ": "7.",
    " august ": "8.",
    " september ": "9.",
    " oktober ": "10.",
    " november ": "11.",
    " december ": "12."
}

def format_date(date_str):
    # Try to parse the date with the Danish month name
    for month, number in danish_months.items():
        if month in date_str:
            # Replace the month name with the corresponding number
            date_str = date_str.replace(month, number)
            # Parse the date to a datetime object
            #date_obj = datetime.datetime.strptime(date_str, "%d. %m. %Y")
            #return date_obj.strftime("%d.%m.%Y")
            return date_str
    # If it's already in the correct format
    #date_obj = datetime.datetime.strptime(date_str, "%d.%m.%Y")
    return date_str

In [329]:
df['available_from'] = pd.to_datetime(df['available_from'].apply(format_date), dayfirst=True)

In [330]:
df['creation_date'] = pd.to_datetime(df['creation_date'], dayfirst=True)

In [331]:
df['area'] = df['address'].apply(lambda x: x.split('-')[0].split(',')[-1].strip() if '-' in x else x.split(',')[-1].strip())

In [332]:
# We want to make floor a numeric var so we have to make assumptions: Stuen (=living room) is ground floor, Kælder (=cellar) is -1, - is translated to 0 as there is no floor
df['floor'] = df['floor'].apply(lambda x: x.replace('Stuen','0').replace('Kælder','-1').replace('-','0').replace('.','')).astype(int)

In [333]:
df.drop(columns=['address'],inplace=True)

In [334]:
for dtype, columns in df.columns.to_series().groupby(df.dtypes):
    print(f"Type: {dtype}")
    print(f"Columns: {list(columns)}\n")

Type: int64
Columns: ['monthly_rent', 'monthly_aconto', 'move_in_price', 'size_sqm', 'rooms', 'floor', 'deposit', 'prepaid_rent']

Type: datetime64[ns]
Columns: ['available_from', 'creation_date']

Type: object
Columns: ['housing_type', 'furnished', 'roommate_friendly', 'pets_allowed', 'elevator', 'senior_friendly', 'students_only', 'balcony_terrace', 'parking', 'dishwasher', 'washing_machine', 'charging_station', 'dryer', 'energy_mark', 'area']

In [335]:
for col in df.columns:
    if df.dtypes[col] == 'O':
        print('###########################')
        print(col)
        print(df[col].unique(),end='\n\n')

###########################
housing_type
['Lejlighed' 'Værelse']

###########################
furnished
['Ja' 'Nej']

###########################
roommate_friendly
['Nej' 'Ja' 'Ikke angivet']

###########################
pets_allowed
['Nej' 'Ja' 'Ikke angivet']

###########################
elevator
['Nej' 'Ja' 'Ikke angivet']

###########################
senior_friendly
['Nej' 'Ikke angivet' 'Ja']

###########################
students_only
['Nej' 'Ja' 'Ikke angivet']

###########################
balcony_terrace
['Nej' 'Ja' 'Ikke angivet']

###########################
parking
['Nej' 'Ja' 'Ikke angivet']

###########################
dishwasher
['Ikke angivet' 'Ja' 'Nej']

###########################
washing_machine
['Ja' 'Ikke angivet' 'Nej']

###########################
charging_station
['Ikke angivet' 'Nej' 'Ja']

###########################
dryer
['Ikke angivet' 'Ja' 'Nej']

###########################
energy_mark
['D' 'A15' 'A20' 'C' 'none' 'A10' 'B' 'G' 'F' 'E']

###########################
area
['Frederiksberg C' 'Bagsværd' 'Kastrup' 'København S' 'København V'
 'Kongens Lyngby' 'Valby' 'København NV' 'Vallensbæk Strand' 'København Ø'
 'København SV' 'Skovlunde' 'København K' 'Herlev' 'Gentofte' 'Glostrup'
 'Taastrup' 'Ballerup' 'Frederiksberg' 'Brønshøj' 'Hellerup' 'København N'
 'Vanløse' 'Rødovre' 'Søborg' 'Skodsborg' 'Dragør' 'Nordhavn' 'Hvidovre'
 'Brøndby' 'Holte' 'Albertslund' 'Hedehusene' 'Virum' 'Måløv' 'Nærum'
 'Charlottenlund' 'Ishøj' 'Vedbæk' 'Dyssegård' 'Vallensbæk' 'Klampenborg'
 'Værløse' 'Smørum']

In [336]:
# create new column availability_in: buckets of <1 month, 1-3 months, 3+ months

df['availability_in'] = df.apply(lambda x: '<1 month' if (x['available_from']-x['creation_date']).days <30 else ('1-3 months' if (x['available_from']-x['creation_date']).days <90 else '3+ months'), axis = 1)

In [337]:
df.drop(columns=['available_from','creation_date'],inplace=True)

In [338]:
pd.set_option('display.max_columns',100)

In [339]:
df.head()

,monthly_rent,monthly_aconto,move_in_price,housing_type,size_sqm,rooms,floor,furnished,roommate_friendly,pets_allowed,elevator,senior_friendly,students_only,balcony_terrace,parking,dishwasher,washing_machine,charging_station,dryer,deposit,prepaid_rent,energy_mark,area,availability_in
0,12850,1350,52750,Lejlighed,86,3,3,Ja,Nej,Nej,Nej,Nej,Nej,Nej,Nej,Ikke angivet,Ja,Ikke angivet,Ikke angivet,38550,0,D,Frederiksberg C,<1 month
1,15700,1224,79724,Lejlighed,113,4,4,Nej,Nej,Ja,Ja,Nej,Nej,Ja,Ja,Ja,Ja,Nej,Ja,47100,15700,A15,Bagsværd,1-3 months
2,5000,1000,21000,Værelse,9,1,0,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Ikke angivet,Ja,Ikke angivet,Ja,15000,0,A20,Kastrup,1-3 months
3,3500,500,11500,Værelse,14,1,0,Ja,Ja,Nej,Nej,Nej,Nej,Ja,Ja,Nej,Ja,Nej,Ja,4000,3500,C,København S,1-3 months
4,4650,0,13950,Værelse,7,1,4,Ja,Nej,Nej,Ja,Nej,Ja,Nej,Nej,Ikke angivet,Ikke angivet,Ikke angivet,Ikke angivet,9300,0,none,København V,<1 month

In [340]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897 entries, 0 to 1896
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   monthly_rent       1897 non-null   int64
 1   monthly_aconto     1897 non-null   int64
 2   move_in_price      1897 non-null   int64
 3   housing_type       1897 non-null   object
 4   size_sqm           1897 non-null   int64
 5   rooms              1897 non-null   int64
 6   floor              1897 non-null   int64
 7   furnished          1897 non-null   object
 8   roommate_friendly  1897 non-null   object
 9   pets_allowed       1897 non-null   object
 10  elevator           1897 non-null   object
 11  senior_friendly    1897 non-null   object
 12  students_only      1897 non-null   object
 13  balcony_terrace    1897 non-null   object
 14  parking            1897 non-null   object
 15  dishwasher         1897 non-null   object
 16  washing_machine    1897 non-null   object
 17  charging_station   1897 non-null   object
 18  dryer              1897 non-null   object
 19  deposit            1897 non-null   int64
 20  prepaid_rent       1897 non-null   int64
 21  energy_mark        1897 non-null   object
 22  area               1897 non-null   object
 23  availability_in    1897 non-null   object
dtypes: int64(8), object(16)
memory usage: 355.8+ KB

In [341]:
continuous_vars = ['monthly_rent','monthly_aconto','move_in_price','size_sqm','deposit','prepaid_rent']
df[continuous_vars] = df[continuous_vars].astype(float)

In [342]:
for i,type in enumerate(df.dtypes):
    print('- '+df.columns[i]+': '+str(type).replace('object','discrete/nominal').replace('int64','continuous/ordinal').replace('float64','continuous/ratio'))

- monthly_rent: continuous/ratio
- monthly_aconto: continuous/ratio
- move_in_price: continuous/ratio
- housing_type: discrete/nominal
- size_sqm: continuous/ratio
- rooms: continuous/ordinal
- floor: continuous/ordinal
- furnished: discrete/nominal
- roommate_friendly: discrete/nominal
- pets_allowed: discrete/nominal
- elevator: discrete/nominal
- senior_friendly: discrete/nominal
- students_only: discrete/nominal
- balcony_terrace: discrete/nominal
- parking: discrete/nominal
- dishwasher: discrete/nominal
- washing_machine: discrete/nominal
- charging_station: discrete/nominal
- dryer: discrete/nominal
- deposit: continuous/ratio
- prepaid_rent: continuous/ratio
- energy_mark: discrete/nominal
- area: discrete/nominal
- availability_in: discrete/nominal

In [343]:
df.groupby(df['energy_mark']).count().iloc[:,0]/len(df)*100

energy_mark
A10      4.322615
A15     12.967844
A20     12.177122
B        3.637322
C       11.228255
D        6.114918
E        1.528730
F        0.421719
G        0.263574
none    47.337902
Name: monthly_rent, dtype: float64

In [344]:
df.to_csv('preprocessed_data.csv', index=False, header=True, encoding='utf-8')